<body style = "background-color: rgb(0, 0, 0)">
  <box style = "color: white; font-size: 50px; display: flex; justify-content: center; align-items: center;">
    <img src="https://www.svgrepo.com/show/298940/maple-leaf.svg" alt="Flowers in Chania" style = "width: 75px; height: 75px">
    <box style = "padding-top: 2px; margin-left: 5px; height: 75px; width: 100%; vertical-align: middle; border-radius: 5px; background-color: rgb(129, 73, 179); text-align: center; font-size: 40px; font-family: sans-serif; color: white"> 
      <b>Clara: Your Image Genie</b> 
    </box>
  </box>
  <box style = "background-color: grey; color: white; font-family: sans-serif; text-align: center; font-size: 18px">
    <p style = "font-size: 25px">
      <b>Directions:</b>
    </p>
    <p style = "font-size: 20px">
      Please input the key word you would like to search for:
     </p>   
     <p>
      Select Image Description for a quick text description of all the pictures that match your key word <br> Select OCR if you would like all the images that contain your actual key word <br> Select Object Detection if you would like all the images that contain the object specified by the key word
     </p>
  </box>
  <form style = "margin-top: 70px; margin-left: 40%; font-family: sans-serif; font-size: 30px; color: white"action="{% url 'display' %}" method="get">
    {{ form.as_p }}
    <input style = "margin-left: 10%; font-size: 25px" type="submit" value="Search">
  </form>
</body>

